@tailwind preflight;

@tailwind components;

@tailwind utilities;

.transition-1s {
    -webkit-transition: all .1s;
    transition: all .1s;
    transform: translate(0,100px)
}

.transition-1s:hover {
    transform: translate(0, 10px);
}