/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 body {
     @apply .font-sans .text-grey-darker .text-sm;
 }

 #app {
     @apply .py-12;
 }

 .title {
     @apply .text-black .mt-8 .leading-loose .font-bold .tracking-wide;
 }

 p {
     @apply .leading-loose .mb-4;
 }

header {
    @apply .text-center;

    

    nav {
        @apply .py-8;

        a {
            @apply .mx-2;
   
            &.active {
               @apply .text-black;
            }
        }
    }
} 

 

 a {
     @apply .uppercase .no-underline .text-xs .text-grey-darker .font-bold .tracking-wide;

     &:hover {
         @apply .text-black;
     }
 }

 .showcase-full {
    @apply .flex .items-center .flex-col-reverse .-mx-10 .border-b .px-10 .py-10 .items-start;

    .title {
        @apply .uppercase;

        letter-spacing: 0.20rem;
    }

    .featured-img {
        img {
            @apply .w-full .shadow-lg;
        }
    }
 }

 .stack {
     @apply .text-purple;
 }

 .btn {
    @apply .border .border-black .inline-block .px-4 .py-2 .text-black;

    font-size: 0.25rem;
 }

 @media (min-width: 992px) {
    header {
      @apply .flex .justify-between;

      .logo a {
            @apply .block .w-1/6;
        }
    }

    .showcase-full {
        @apply .flex .items-center .h-screen .flex-row .items-start;

        .title {
            @apply .uppercase;

            letter-spacing: 0.20rem;
        }

        .featured-img {
            img {
                @apply .w-full .shadow-lg;
            }
        }
    }
 }

 

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  
 