body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 #app {
     @apply .py-12;
 }

 .logo {
    font-family: 'Karla', sans-serif;

    @apply my-16 pt-16 text-2xl;
 }

 .logo-sub {
    font-family: 'Karla', sans-serif;

    @apply text-2xl;
 }

 p {
     @apply .leading-loose .mb-4;
     color: #929292;
 }

 $animate: all 0.1s ease-in-out;

header {
    @apply .text-center;
} 

.post-month {
    @apply mb-0 text-sm uppercase
}

.post-list {
    @apply leading-loose list-none pl-3
}

.post-list li a {
    @apply no-underline
}

.post-list li a:hover {
    @apply underline
}

 a {
     @apply  .font-bold .text-black;

     &:hover {
         @apply .text-black;
     }
 }

 .icons {
     color: #929292;
 }

 .showcase-full {
    @apply .flex .items-center .flex-col-reverse .-mx-10 .border-b .px-10 .py-10;

    .title {
        @apply .uppercase;

        letter-spacing: 0.20rem;
    }

    .featured-img {
        img {
            @apply .w-full .shadow-lg;
        }
    }
 }

 .stack {
color: #ff9800;
 }

 .btn {
    @apply .border .border-black .inline-block .p-2 .text-black;

    font-size: 1rem;
    line-height: 1rem;
 }

 @media (min-width: 992px) {
   

    .showcase-full {
        @apply .flex .items-center .h-screen .flex-row;

        .title {
            @apply .uppercase;

            letter-spacing: 0.20rem;
            font-family: 'Poppins', sans-serif;
        }

        .featured-img {
            img {
                @apply .w-full .shadow-lg;
            }
        }
    }
 }

 

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  
 